body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
/* Codigo do cabecalho */
header{
    display: flex;
    background-color: #3347B0;
    text-decoration: none;
    justify-content: space-between;
    width: 100vw;
    height: 120px;
}

.logo-image{
    display: flex;
    align-items: center;
    width: 80px;
    margin-left: 90px;
    gap: 12px;
    
}

.logo-name{
    display: flex;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.back-home{
    display: flex;
    flex-direction: row;
    background-color: #3347B0;
    padding: 5px;
    border-radius: 6px;
}

.exit{
    display: flex;
    align-items: center;
    width: 60px;
    margin-right: 110px;
    padding: 16px;
}

.exit img{
    display: flex;
    color: #FFFFFF;
    width: 35px;
}

.exit a {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

/* Codigo do main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 4;
}

.dropdown-subtitle{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.selects{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 6px;
    
}

.select-status{
    display: flex;
    height: 25px;
}

.select-ano{
    display: flex;
    height: 25px;
}

.legenda{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #BCC2E5;
    align-items: center;
    justify-content: space-around;
    
}

.subtitle{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #3347B0;
}

.specifications{
    display: flex;
    align-items: center;
    height: 20px;
    width: 350px;
    margin-right: 5%;
    justify-content: space-around;
    gap: 12px;
}

.finalizado{
    display: flex;
    height: 100%;
    width: 20px;
    background-color: #E5B657;
    border: solid 1px black;
    border-radius: 2px;
}

.text-finalizado{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #3347B0;
}

.cursando{
    display: flex;
    height: 100%;
    width: 20px;
    background-color: #3347B0;
    border: solid 1px black;
    border-radius: 2px;
}

.text-cursando{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #3347B0;
}

.title{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #3347B0;
    margin-top: 1%;
}

.card-aluno{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.card{
    display: flex;
    height: 300px;
    width: 200px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}



.card-azul{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3347B0;
    max-width: 500px;
    max-height: 300px;
    flex-direction: column;
}

.card-azul img{
    display: flex;
    max-width: 200px;
    max-height: 200px;
}


.card-amarelo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5B657;
    max-width: 500px;
    max-height: 300px;
    flex-direction: column;
}

.card-amarelo img{
    display: flex;
    max-width: 200px;
    max-height: 200px;
}


/* Codigo do rodape */
footer{
    display: flex;
    width: 100vw;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    background-color: #3347B0;
}


.contact{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin-left: 90px;
}

.icons-contact {
    display: flex;
    height: 30px;
    width: 30px;
}

.info-contact{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;   
}

.copy{
    color: #FFFFFF;
    font-size: 18px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.social-media ul {
    display: flex;
    /* flex-direction: row; */
    color: #FFFFFF;
    height: 100%;
    margin-right: 90px;
    align-items: center;
    gap: 8px;
    
}

.social-media li {
    display: flex;
    font-size: 35px;
    border: solid 2px;
    padding: 5px;
    border-radius: 50%;
}

.social-media ul li:hover{
    transition: all 700ms ease-in-out;
    background-color: #3347B0;
    
}
